<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app" class="d-flex justify-content-center">
        <div class="cv d-flex">
            <div class="cv-left text-white">
                <div class="cv-info-header text-center py-3">
                    <h4><b class="text-uppercase">{{cv.fullName}}</b></h3>
                    <i>{{cv.career}}</i>
                </div>
                <div class="cv-info-body px-3 py-4 d-flex flex-column gap-2">
                    <div class="d-flex align-items-center" v-if="cv.birthDate">
                        <i class="bi bi-calendar-week"></i>
                        <span class="ps-2">{{cv.birthDate}}</span>
                    </div>
                    <div class="d-flex align-items-center" v-if="cv.gender">
                        <i class="bi bi-gender-ambiguous"></i>
                        <span class="ps-2">{{cv.gender}}</span>
                    </div>
                    <div class="d-flex align-items-center" v-if="cv.phone">
                        <i class="bi bi-telephone"></i>
                        <a class="ps-2 text-white" :href="'tel:' + cv.phone">{{cv.phone}}</a>
                        <i style="font-size: 10px;" class="bi bi-box-arrow-up-right ps-1"></i>
                    </div>
                    <div class="d-flex align-items-center" v-if="cv.mail">
                        <i class="bi bi-envelope"></i>
                        <a class="ps-2 text-white" :href="'mailto:' + cv.mail">{{cv.mail}}</a>
                        <i style="font-size: 10px;" class="bi bi-box-arrow-up-right ps-1"></i>
                    </div>
                    <div class="d-flex align-items-center" v-if="cv.address">
                        <i class="bi bi-geo-alt"></i>
                        <span class="ps-2">{{cv.address}}</span>
                    </div>
                    <div class="d-flex align-items-center" v-if="cv.github">
                        <i class="bi bi-github"></i>
                        <a class="ps-2 text-white" :href="cv.github">{{cv.github}}</a>
                        <i style="font-size: 10px;" class="bi bi-box-arrow-up-right ps-1"></i>
                    </div>
                </div>
            </div>
            <div class="cv-right p-3 flex-grow-1">
                <div class="cat-title">
                    <div class="cat-icon">
                        <i class="bi bi-book-fill"></i>
                    </div>
                    <h5 class="ps-3 m-0"><b class="text-uppercase">education</b></h5>
                </div>
                <div class="d-flex flex-column gap-3 mt-3">
                    <div v-for="edu in cv.edu">
                        <div class="d-flex">
                            <div><b class="text-uppercase" v-html="edu.school"></b></div>
                            <div class="ms-auto"><small><b class="text-uppercase">{{fmtDate(edu.startDtYr, edu.startDtMo)}} - {{fmtDate(edu.endDtYr, edu.endDtMo)}}</b></small></div>
                        </div>
                        <div style="font-weight: 300;">
                            <small>{{edu.degree}}, {{edu.spec}}</small>
                            <small class="d-block" v-if="edu.grade">Grade: {{edu.grade}}</small>
                        </div>
                    </div>
                </div>
                <div class="cat-title mt-5">
                    <div class="cat-icon">
                        <i class="bi bi-wallet-fill"></i>
                    </div>
                    <h5 class="ps-3 m-0"><b class="text-uppercase">experience</b></h5>
                </div>
                <div class="d-flex flex-column gap-3 mt-3">
                    <div v-for="exp in cv.exp">
                        <div class="d-flex">
                            <div><b class="text-uppercase">{{exp.title}}</b></div>
                            <div class="ms-auto"><small><b class="text-uppercase">{{fmtDate(exp.startDtYr, exp.startDtMo)}} - {{fmtDate(exp.endDtYr, exp.endDtMo)}}</b></small></div>
                        </div>
                        <div style="font-weight: 300;"><small>{{exp.company}} • {{exp.empType}} • {{fmtDuration(exp.startDtYr, exp.startDtMo, exp.endDtYr, exp.endDtMo)}}</small></div>
                        <div style="font-weight: 300;" class="text-secondary"><small>{{exp.location}}</small></div>
                    </div>
                </div>
                <div class="cat-title mt-5">
                    <div class="cat-icon">
                        <i class="bi bi-pen-fill"></i>
                    </div>
                    <h5 class="ps-3 m-0"><b class="text-uppercase">skills</b></h5>
                </div>
                <div class="d-flex flex-column gap-3 mt-3">
                    <ul id="cvSkills" style="list-style: square">
                        <li v-for="sk in cv.skills" style="font-weight: 300" v-html="sk"></li>
                    </ul>
                </div>
                <div class="cat-title mt-5">
                    <div class="cat-icon">
                        <i class="bi bi-code"></i>
                    </div>
                    <h5 class="ps-3 m-0"><b class="text-uppercase">projects</b></h5>
                </div>
                <div id="cvProjects" class="d-flex flex-column gap-4 mt-3">
                    <div v-for="prj in cv.projects">
                        <div class="d-flex">
                            <div><b class="text-uppercase">{{prj.name}}</b></div>
                            <div class="ms-auto"><small><b class="text-uppercase">{{fmtDate(prj.startDtYr, prj.startDtMo)}} - {{fmtDate(prj.endDtYr, prj.endDtMo)}}</b></small></div>
                        </div>
                        <div class="mt-1" style="font-weight: 300;">
                            <p><small>{{prj.des}}</small></p>
                            <p>
                                <small>Tech: <b>{{prj.tech.join(', ')}}</b></small>
                                <br>
                                <small>Team: <b>{{prj.team}}</b></small>
                            </p>
                            <div>
                                <small>Role: <b>{{prj.role}}</b></small>
                                <small>
                                    <ul style="list-style: square">
                                        <li v-for="prjRole in prj.roleDes" style="font-weight: 300">{{prjRole}}</li>
                                    </ul>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="main.js"></script>
</body>
</html>